<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

In [15]:
import numpy as np

# There is more to if

In [21]:
name = 'LOL'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Hahahhahaha':
    
    print('Hello Sidekick!')
elif name == 'Hahahhahaha':
    
    print('Hello Marvin')
elif name == 'Hahahhahaha':
    
    print('Hello Who')
else:
    print('Hello World!')

Hello World!

In [32]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [34]:
name = 'Robin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Sidekick!

In [36]:
name = 'ahahaha'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

# Asking questions

In [39]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [40]:
'apple' in fruits #is apple in the list fruits

True

In [41]:
'peach' in fruits #is peach in the list fruits

False

In [6]:
'peach' not in fruits #is peach not in the list fruits

True

In [7]:
'PP' in 'apple' #are the letters pp in the word apple, however, python is case sensitive

False

In [42]:
'pp' in 'apple'

True

In [8]:
('apple' in fruits) and ('celery' in vegetables)

True

In [9]:
('apple' in fruits) or ('celery' in vegetables)

True

In [ ]:
'a' > 10 #will not work

In [43]:
'apple' > 'orange' #python can compare 'apples' and 'orange', because English letters are internally represented as numbers

False

## Asking Math questions

In [ ]:
10 >= 3

In [ ]:
x=3

In [ ]:
x > 5 and x < 15

In [ ]:
(x > 5) and (x < 15)

In [ ]:
5 <= x < 15 # Only in Python

# Python stores information in different formats or types

In [1]:
x = int(1.234)
print(x, type(x)) #as an integer - dropping the decimal points

1 <class 'int'>

In [2]:
x = str(1.234)
print(x, type(x)) #as an english word - as a string

1.234 <class 'str'>

In [3]:
x = float(1.234)
print(x, type(x)) #as a decimal number (float)

1.234 <class 'float'>

In [4]:
x = complex(1.234)
print(x, type(x)) #as a complex number, includes the imaginary part of the number

(1.234+0j) <class 'complex'>

# Never compare floats directly

## The Problem

In [7]:
a = 0.1
a3 = 0.3
a * 3 == a3 #due to round off errors

False

In [9]:
a*3

0.30000000000000004

In [10]:
f'{0.3:.17f}' #printing 0.3 to 17 decimal places

'0.29999999999999999'

## A solution

In [ ]:
#to get around these types of issues, should check if the variable is close to the expected values instead of checking for equality

In [12]:
eps = 1E-10 
abs(a*3 -a3) < 1E-10

True

In [17]:
import numpy as np

In [18]:
np.isclose(a * 3, a3) #check if the results of a*3 is close to a3.

True

# Combining English and variables

## Structure of f-strings

**Example 1**

In [3]:
name = "Batman"
print(f"Hello {name}!") #the {name} within the f-string gets replaced with the value of the variable 'name'

Hello Batman!

**Example 2**

In [4]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

**Example 3**

In [5]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

**Example 4**

In [6]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [19]:
text = 'Bruce Wayne is Batman.'
print(f"{text}") #double and single quotation marks have no functional difference when it comes to strings

Bruce Wayne is Batman.

**Example 5**

In [21]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

        Bruce Wayne is Batman.

In [22]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

    Bruce Wayne is Batman.

In [23]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

**Example 6**

In [ ]:
#using f-string to format numbers

In [27]:
print(f'The cube of pi to 6 decimal places is {22/7**3:05.6g}') 
#22/7**3: calculates the cube of pi
#05: minimum width of the field of 5 characters
#.3: number of digits after the decimal point 
#g: general format - ask python to figure it out

The cube of pi to 6 decimal places is 0.0641399

In [29]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
#import numpy as np
#calculates the cube of pi
#f: tell the f-string to output the number in decimal notations
#6f: precision of 6 decimal places

The cube of pi to 6 decimal places is 31.006277

In [30]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
#import numpy as np
#calculates the cube of pi
#6e: precision of 6 decimal places in scientific notation

The cube of pi to 6 decimal places is 3.100628e+01

In [ ]:
{X:>0Y.ZW} #structure of strings - look at sp2273 website notes

# Escape sequences

**Example 1**

In [ ]:
#\n breakline, \t tab

In [31]:
print('Line 1\n\tLine 2\n\t\tLine 3') #line 1, break a line, break a tab --> line 2, break a line, break a tab x 2 --> line 3

Line 1
	Line 2
		Line 3

**Example 2**

In [33]:
print("You're twenty years old.") #use both single and double quotation marks

You're twenty years old.

In [34]:
print('You\'re twenty years old.') #can use only the single quotation mark

You're twenty years old.

**Example 3**

In [39]:
print('A\\B\\C')

A\B\C

**Example 4**

In [42]:
print('A\nB\nC')

A
B
C

# Computers read = from Right to Left!

In [43]:
x = 40
y = x + 2

In [44]:
y

42

In [ ]:
y = 40
y = y + 2

In [45]:
y = 40
y = y + 2
print(y)

42

In [46]:
x=y=10

# Shorter and Cleaner Code

In [47]:
y = 40
y = y + 2
y #incrementing the value a variable 'y' by 2

42

In [ ]:
y = 40
y += 2    # Same as y = y + 2
y

In [50]:
y = 40
y /= 2    # Same as y = y / 2
y

20.0

# Python can be a prima-donna.

# Best Practices for Scientific Computing

# Looking for help

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.